@import "main";

.logo {
  float: left;
  line-height: 2em;
  img {
    margin: 2px 4px;
    max-height: 2em;
    display: inline-block;
    float: left;
  }

  .title {
    color: $purple;
    margin: 0 2.5em 0 0.25em;
  }
}

.navigationTools {
  display: block;
  height: auto;
  float: right;
  padding-right: 0.25em;
  button {
    padding: 5px;
    margin: 0 1px 0 0;
    font-weight: 200;
    font-size: 0.85em;
  }
}
